<h3 class="mb-4">Comments</h3>
<div *ngFor="let comment of signalrCommentService.comments" class="comment mt-3 border-bottom">
  <div>
    <div class="d-flex align-items-center">
      <span>{{comment.authorName}} ◦ </span>
      <span class="opacity-50 ms-1" style="font-size: 12px">{{comment.dateCreation}}</span>
    </div>
    <div class="mt-1 mb-3">{{comment.description}}</div>
  </div>
</div>

<div class="send-comment-container mt-3 pb-4">
  <form [formGroup]="commentForm" (ngSubmit)="createComment()">
    <label for="comment-textarea" class="form-label">Leave your comment</label>
    <textarea [formControl]="commentForm.controls.comment" class="form-control" id="comment-textarea" rows="3"></textarea>
    <button type="submit" class="btn btn-success mt-2 w-100">Send</button>
  </form>
</div>
