<div class="mb-3 fs-3">{{"AdminContent.AdminPanel" | translate}}</div>

<div class="user-container row">
  <div *ngFor="let user of users" class="col-md-6 mb-2">
    <div class="card border-0">
      <div class="card-header border-0 d-flex justify-content-between" [ngClass]="user.accessStatus === 'Block' ? 'bg-danger' : ''">
        <div>
          {{user.name}}: <span [ngClass]="user.accessStatus === 'Block' ? '' : 'text-success'">{{user.role}}</span>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{user.email}}</h5>
        <div class="d-flex justify-content-between align-items-center">
          <a [routerLink]="['/profile', user.id]" class="btn btn-primary">{{"AdminContent.GoToProfile" | translate}}</a>

          <div>
            <a class="fs-3 mr-2" (click)="blockUser(user.id)">
              <i class="bi bi-person-fill-slash"></i>
            </a>
            <a class="fs-3 mr-2" (click)="unblockUser(user.id)">
              <i class="bi bi-person-fill-check"></i>
            </a>
            <a class="fs-3 mr-2" (click)="deleteUser(user.id)">
              <i class="bi bi-person-fill-x"></i>
            </a>
            <a class="fs-3">
              <i *ngIf="user.role !== 'Admin'" class="bi bi-person-fill-up" (click)="setUserRole(user.id, 'Admin')"></i>
              <i *ngIf="user.role === 'Admin'" class="bi bi-person-fill-down" (click)="setUserRole(user.id, 'User')"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-preloader *ngIf="!loadWaiter"></app-preloader>
