<div class="card border-0" style="width: 18rem;">
  <div class="image-container border-bottom">
    <img
      src="{{reviewPreview.urlImage}}"
      class="card-img-top" alt="...">
  </div>
  <div class="card-body border-bottom">
    <h5 class="card-title">{{reviewPreview.nameReview}}</h5>
    <p class="card-text">{{reviewPreview.nameDescription}}</p>
  </div>
  <ul class="list-group list-group-flush border-bottom">
    <li class="list-group-item">Category: {{reviewPreview.category}}</li>
    <li class="list-group-item">Rate: {{reviewPreview.averageCompositionRate}}</li>
    <li class="list-group-item">Tags: {{reviewPreview.tags.join(', ')}}</li>
  </ul>
  <div class="card-body">
    <a [routerLink]="['/view-review', reviewPreview.reviewId]" class="card-link">Go to view</a>
  </div>
</div>
