<div class="w-100 d-sm-flex justify-content-center align-items-center" style="margin-top: 75px">
  <form class="col-sm-5" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <h2 class="d-flex justify-content-center pb-3">{{ 'Form.Titles.Registration' | translate }}</h2>

    <div class="form-outline mb-1">
      <label class="form-label" for="login">{{ 'Form.Titles.Login' | translate }}</label>
      <input type="text" id="login" class="form-control" formControlName="login"/>

      <div *ngIf="registrationForm.get('login')?.invalid &&
        registrationForm.get('login')?.errors &&
        (registrationForm.get('login')?.dirty || registrationForm.get('login')?.touched)">
        <small class="text-danger"
               *ngIf="registrationForm.get('login')?.hasError('required')">
          {{ 'Form.Errors.Required' | translate }}
        </small>
        <small class="text-danger"
               *ngIf="registrationForm.get('login')?.hasError('minlength')">
          {{ 'Form.Errors.MaxLength' | translate: {maxCount: 100} }}
        </small>
        <small class="text-danger"
               *ngIf="registrationForm.get('login')?.hasError('minlength')">
          {{ 'Form.Errors.MinLength' | translate: {minCount: 5} }}
        </small>
      </div>
    </div>

    <div class="form-outline mb-1">
      <label class="form-label" for="email">{{ 'Form.Titles.Email' | translate }}</label>
      <input type="email" id="email" class="form-control" formControlName="email"/>

      <div *ngIf="registrationForm.get('email')?.invalid &&
        registrationForm.get('email')?.errors &&
        (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
        <small class="text-danger"
               *ngIf="registrationForm.get('email')?.hasError('required')">
          {{ 'Form.Errors.Required' | translate }}
        </small>
        <small class="text-danger"
               *ngIf="registrationForm.get('email')?.hasError('email')">
          {{ 'Form.Errors.InvalidEmailFormat' | translate }}
        </small>
      </div>
    </div>

    <div class="form-outline mb-1">
      <label class="form-label" for="password">{{ 'Form.Titles.Password' | translate }}</label>
      <input type="password" id="password" class="form-control" formControlName="password"/>

      <div *ngIf="registrationForm.get('password')?.invalid &&
        registrationForm.get('password')?.errors &&
        (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
        <small class="text-danger"
               *ngIf="registrationForm.get('password')?.hasError('required')">
          {{ 'Form.Errors.Required' | translate }}
        </small>
        <small class="text-danger"
               *ngIf="registrationForm.get('password')?.hasError('minlength')">
          {{ 'Form.Errors.MinLength' | translate: {minCount: 3} }}
        </small>
      </div>
    </div>

    <div class="form-outline mb-1">
      <label class="form-label"
             for="password-confirmation">{{ 'Form.Titles.PasswordConfirmation' | translate }}</label>
      <input type="password" id="password-confirmation" class="form-control" formControlName="passwordConfirmation"/>

      <div *ngIf="registrationForm.get('passwordConfirmation')?.invalid &&
        registrationForm.get('passwordConfirmation')?.errors &&
        (registrationForm.get('passwordConfirmation')?.dirty || registrationForm.get('passwordConfirmation')?.touched)">
        <small class="text-danger"
               *ngIf="registrationForm.get('passwordConfirmation')?.hasError('required')">
          {{ 'Form.Errors.Required' | translate }}
        </small>
      </div>
      <small class="text-danger" *ngIf="registrationForm.errors?.notSame">
        {{ 'Form.Errors.PasswordsNotMatch' | translate }}
      </small>
      <span class="text-danger" *ngIf="error">
        {{error}}
      </span>
    </div>
    <div class="row mb-4 d-flex justify-content-between">
      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="check" formControlName="isRemember" checked/>
          <label class="form-check-label" for="check">{{ 'Form.Titles.RememberMe' | translate }}</label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn w-100 btn-block mb-4 border-dark" [disabled]="!registrationForm.valid">Sign up
    </button>

    <div class="text-center">
      {{ 'Form.Titles.AlreadyHaveAccount' | translate }} <a [routerLink]="['/login']">{{ 'Form.Titles.Login' | translate }}</a>
      <br>
      {{ 'Form.Titles.LoginThrough' | translate }}:
      <app-external-login></app-external-login>
    </div>
  </form>
</div>

<app-toast #generalErrorToast [visible]="false" [text]="'Form.Errors.GeneralError' | translate" id="general-error-toast"></app-toast>
