<nav class="navbar navbar-expand-lg">
  <div class="container-md">
    <a class="navbar-brand fs-4 fw-bold" [routerLink]="['/']">Recommend</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon border-danger"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav fs-5">
        <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Themes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" (click)="changeTheme('light-theme')">Light</a></li>
            <li><a class="dropdown-item" (click)="changeTheme('dark-theme')">Dark</a></li>
          </ul>
        </li>
      </div>
    </div>
  </div>
</nav>
