@import "../ClientApp/src/styles.sass"

.container
  margin: 0
  padding: 0

  .send-comment-container
    textarea
      border: none
      outline: none
      box-shadow: none

  .like-container
    bottom: 20px
    right: 20px
    transition: .2s

    &:hover
      color: $red
      transition: .2s

:host-context(.bootstrap-dark)
  .markdown-view
    color: $light !important

  .send-comment-container
    textarea
      background-color: $dark
