<div style="margin-top: 70px">
  <div class="row flex-md-row-reverse">
    <div class="col-lg-4 mt-3">
      <div class="action-container w-100 p-2">
        <div class="w-100 d-flex justify-content-center">
          <h5>Actions</h5>
        </div>
        <div class="sorting-container">
          <div class="border-bottom">
            Sorting
          </div>
          <div class="mt-3">
            <div class="d-flex">
              Raiting
              <div class="bi bi-arrow-up ml-1" (click)="sortingService.sort('averageCompositionRate', true)"></div>
              <div class="bi bi-arrow-down" (click)="sortingService.sort('averageCompositionRate', false)"></div>
            </div>
            <div class="d-flex mt-2">
              Like
              <div class="bi bi-arrow-up ml-1" (click)="sortingService.sort('countLike', true)"></div>
              <div class="bi bi-arrow-down" (click)="sortingService.sort('countLike', false)"></div>
            </div>
            <div class="d-flex mt-2">
              Name
              <div class="bi bi-arrow-up ml-1" (click)="sortingService.sort('nameReview', true)"></div>
              <div class="bi bi-arrow-down" (click)="sortingService.sort('nameReview', false)"></div>
            </div>
          </div>

          <div class="border-bottom mt-4">
            Filtration
          </div>
          <div class="filtration-container mt-3">
            <div>
              <input type="radio" checked filterFieldName="nameReview" name="flexRadioDefault" id="name">
              <label class="form-check-label ms-1" for="name">Name</label>
            </div>
            <div>
              <input type="radio" filterFieldName="nameDescription" name="flexRadioDefault" id="name-work">
              <label class="form-check-label ms-1" for="name-work">Name work</label>
            </div>
            <div>
              <input type="radio" filterFieldName="averageCompositionRate" name="flexRadioDefault" id="rating">
              <label class="form-check-label ms-1" for="rating">Rating</label>
            </div>
            <div>
              <input type="radio" filterFieldName="countLike" name="flexRadioDefault" id="like">
              <label class="form-check-label ms-1" for="like">Like</label>
            </div>
            <div>
              <input type="radio" filterFieldName="tags" name="flexRadioDefault" id="tag">
              <label class="form-check-label ms-1" for="tag">Tag</label>
            </div>

            <div class="filtration-container mt-3">
              <input (keyup)="filtrationService.onChangeFiltrationText($any($event.target).value)" type="text"
                     class="form-control"/>
              <button (click)="reviews = filtrationService.filter()" class="btn btn-success w-100 mt-2">Filter</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 d-flex flex-wrap justify-content-sm-between justify-content-center">
      <div *ngFor="let review of reviews" class="mt-3">
        <app-review-card [reviewPreview]="review"></app-review-card>
      </div>
    </div>
  </div>
</div>
